.Connexion {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  text-align: center;
}

.Header-title {
  margin: 0;
  color: white;
  font-size: calc(10px + 5vmin);
}

.Connexion-body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Connexion-title {
  margin: 0;
  padding-top: 10vh;
  margin-bottom: 5vh;
  color: #61dafb;
  font-size: calc(10px + 3vmin);
  text-align: center;
}

.Connexion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form-line {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 4vh;
}

.Form-line label {
  padding-left: 0.5vmin;
}

.Connexion-register {
  font-size: calc(8px + 1vmin);
  margin-top: 1vh;
}

.hlink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
